<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p><p><a href="http://jihadology.net">Go to main site</a></p>
            <strong>More about jihadology.net</strong>
      <ul>
        <li><a href="http://jihadology.net/about/legal-notice/">Legal Notice</a></li>
        <li><a href="http://jihadology.net/about/writings/">Aaron Y. Zelin publications</a></li>
        <li><a href="http://jihadology.net/about/about-me/">About Aaron Y. Zelin</a></li>
      </ul></p>
        <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
      </div>
      <div class="footer-col footer-col-2">
        <p><strong>Translations</strong><br>To inquire about translations for a fee email:<br>azelin [at] jihadology [dot] net</p>
        <div id="blog_subscription-5">
      <h2>
      <label for="subscribe-field">Receive updates via email</label>
      </h2>
      <form id="subscribe-blog" accept-charset="utf-8" method="post" action="https://subscribe.wordpress.com">
        <p>Join 13,000+ other subscribers</p>
        <p>
          <input type="hidden" value="subscribe" name="action">
          <input type="hidden" value="12731069" name="blog_id">
          <input type="hidden" value="http://jihadology.net/" name="source">
          <input type="hidden" value="widget" name="sub-type">
          <input type="hidden" value="blog_subscription-5" name="redirect_fragment">
          <input id="_wpnonce" type="hidden" value="38bb640aa7" name="_wpnonce">
          <input type="submit" value="Subscribe">
        </p>
      </form>
    </div>
  </section>
      </div>
      <div class="footer-col footer-col-3">
        <p><p><strong>Legal</strong></p>
      <p>Copyright © Aaron Y. Zelin and Jihadology.net. All Rights Reserved. Unauthorized use and/or duplication of original material without express and written permission from this blog’s author is strictly prohibited. Content may be used, provided that full and clear credit is given to Aaron Y. Zelin and Jihadology.net with appropriate and specific direction to the original content.</p>

      <p>Links: This site contains links to other sites. It assumes no responsibility for the content or accuracy of information hosted on those sites.</p></p>
      </div>
    </div>
  </div>
</footer>
