<aside id="site-sidebar" class="site-sidebar">

    <div class="widget">
      <h5 class="widget__title">Brief About</h5>
      <p><a href="http://jihadology.net">Jihadology.net</a> serves as a clearinghouse for jihādī primary source material, original analysis, and translation service. It is a personal project of <a href="http://jihadology.net/about/about-me/">Aaron Y. Zelin</a> and is not associated with <a href="http://www.washingtoninstitute.org/">The Washington Institute for Near East Policy</a>.</p>
      
      <p><a href="{{ site.baseurl }}/">Docs.jihadology.net</a> is a contribution made and maintained by David Clark. Learn more about it by <a href="http://github.com">visiting us on Github</a>.</p>
    </div>
    
    <div class="widget">
      <h5 class="widget__title">Translations</h5>
      <p>To inquire about translations of any material found on <a href="http://jihadology.net">Jihadology.net</a> (for a fee) email:</p>
      <p>azelin [at] jihadology [dot] net</p>
    </div>
    
    <div id="blog_subscription-5" class="widget">
      <h5 class="widget__title">
      <label for="subscribe-field">Receive updates via email</label>
      </h5>
      <form id="subscribe-blog" accept-charset="utf-8" method="post" action="https://subscribe.wordpress.com">
        <p>Join 13,000+ other subscribers</p>
        <p>
          <input type="hidden" value="subscribe" name="action">
          <input type="hidden" value="12731069" name="blog_id">
          <input type="hidden" value="http://jihadology.net/" name="source">
          <input type="hidden" value="widget" name="sub-type">
          <input type="hidden" value="blog_subscription-5" name="redirect_fragment">
          <input id="_wpnonce" type="hidden" value="38bb640aa7" name="_wpnonce">
          <input type="submit" value="Subscribe">
        </p>
      </form>
    </div>
</aside>