<aside id="table-of-contents" class="doc-contents toc toggle-container">
  <input type="checkbox" id="toggle-toc" />
  <label for="toggle-toc" class="toggle" data-open="+" data-close="-" onclick=""></label>
  <div class="toggleable">
    <nav>
      <!--<p class="page-ref">[1]</p>-->
      <ul data-gumshoe>
        <li><a data-scroll href="#top">Top</a></li>
        
        <li><a data-scroll href="#introduction">
        <strong>Introduction</strong> (3)</a></li>
        
        <li><a data-scroll href="#preface">
        <strong>Preface:</strong> The order that has governed the world since the Sykes-Picot era (5)</a></li>
        
        <li><a data-scroll href="#the-illusion-of-power">
        <strong>The Illusion of power:</strong> The centrality of the superpowers as a function of their overwhelming military power and deceptive media halo (7)</a></li>
        
        <li><a data-scroll href="#first-topic">
        <strong>First Topic:</strong> Definition of "the management of savagery" and an overview of its historical precedents (11)</a></li>
        
        <li><a data-scroll href="#second-topic">
        <strong>Second Topic:</strong> The path for establishing an Islamic state. (15)</a></li>
          <ol>
            <li><a data-scroll href="#second-topic-section-one">
            States designated as (part of) a priority group</a>
            <li><a data-scroll href="#second-topic-section-two">
            Factors Considered When Selecting Countries</a></li>
            <li><a data-scroll href="#second-topic-section-three">
            The primary goals for the stage of the "power of vexation and exhaustion"</a></li>
            <li><a data-scroll href="#second-topic-section-four">
            The primary goals for the stage of "the management of savagery"</a></li>
            <li><a data-scroll href="#second-topic-section-five">
            The plan of action and movement</a></li>
            <li><a data-scroll href="#second-topic-section-six">
            The targets we must concentrate on and the reasons for that</a></li>
            <li><a data-scroll href="#second-topic-section-seven">
            Simplifying the preceding plan on specific points</li></a></li>
          </ol> 
          
          
        <li><a data-scroll href="#third-topic">
        <strong>Third Topic:</strong> The most important principles and policies for implementing the plan of action and achieving, in general, the goals of the stage of "the power of vexation and exhaustion"; and, in particular, the goals of the stage of "the management of savagery." (by the permission of God) (23)</a></li>
          <ol>
            <li><a data-scroll href="#third-topic-section-one">
            Mastery of the art of management (23)</a></li>
            <li><a data-scroll href="#third-topic-section-two">
            Who leads, who manages, and who authorizes the fundamental administrative decisions? (25)</a></li>
            <li><a data-scroll href="#third-topic-section-three">
            Using the time-tested principles of military combat (28)</a>
            <li><a data-scroll href="#third-topic-section-four">
            Using violence (31)</a></li>
            <li><a data-scroll href="#third-topic-section-five">
            Achieving "power" (34)</a></li>
            <li><a data-scroll href="#third-topic-section-six">
            Properly understanding the rules of the political game of our opponents and their fellow travelers, and striking a balance between confrontation and cooperation in accordance with sharia politics (37)</a></li>
            <li><a data-scroll href="#third-topic-section-seven">
            Polarization (46)</a></li>
            <li><a data-scroll href="#third-topic-section-eight">
            The rules of affiliation (50)</a></li>
            <li><a data-scroll href="#third-topic-section-nine">
            Mastering the security dimension: Surveillance and infiltrating adversaries and opponents of every kind (52)</a></li>
            <li><a data-scroll href="#third-topic-section-ten">
            Mastering education within the movement just as it was in the first age of Islam (54)</a></li>
          </ol>
          
          
        <li><a data-scroll href="#fourth-topic">
        <strong>Fourth Topic:</strong> The most important problems and obstacles that we will face, and ways of dealing with them (62)</a></li>
          <ol>
            <li><a data-scroll href="#fourth-topic-section-one">
            The problem of the decreasing number of true believers (62)</a></li>
            <li><a data-scroll href="#fourth-topic-section-two">
            The problem of the lack of administrative cadres (63)</a></li>
            <li><a data-scroll href="#fourth-topic-section-three">
            The problem of loyalty to elements in the preceding administration (Especially Those with Different Islamic Orientations) (65)</a></li>
            <li><a data-scroll href="#fourth-topic-section-four">
            The problem of infiltration and spies (67)</a></li>
            <li><a data-scroll href="#fourth-topic-section-five">
            The problem of secession or sudden about-face of individuals, groups, or regions who completely change their loyalty (How do we make sense of it and how do we deal with it?) (68)</a></li>
            <li><a data-scroll href="#fourth-topic-section-six">
            The problem of excessive zeal and the problems that accompany it (71)</a></li>
          </ol>
          
          
        <li><a data-scroll href="#fifth-topic">
        <strong>Fifth Topic:</strong> Conclusion: Are there other solutions that are easier than this solution? (73)</a></li>
          <ol>
            <li><a data-scroll href="#fifth-topic-section-one">
            The battle of patience (81)</a></li>
            <li><a data-scroll href="#fifth-topic-section-two">
            The struggle between the human soul and the Sunna of God in missionary activities (86)</li></a></li>
            <li><a href="#fifth-topic-section-three">
            Our men and enemy soldiers under fire (90)</a></li>
              <!--<p class="page-ref">[2]</p>-->
            <li><a data-scroll href="#fifth-topic-section-four">
            Universal laws adhered to by the elect and others (95)</a></li>
            <li><a data-scroll href="#fifth-topic-section-five">
            Our method is a mercy to all beings (101)</a></li>
            <li><a data-scroll href="#fifth-topic-section-six">
            Crisis of terms..."benefit" and "harm" as examples (106)</a></li>
            <li><a data-scroll href="#fifth-topic-section-seven">
            Polarization and wealth (110)</a></li>
          </ol>
          
        <li><a data-scroll href="#footnotes">
        <strong>Footnotes</strong></a></li>
      </ul>
    </nav>
  </div>
</aside>