/**
 * Body styling
 */
body {
  @include container(24);
  padding: 1em;
  margin: 0em auto;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
body * {
  line-height: 1.5;
  letter-spacing: 0.01em;
  word-spacing: .05em;
}
body > * {
  font-size: 120%;
}

/**
 * Typography
 */

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  line-height: 1.2;
}
h1 { font-size: 3.75em; }
h2 { font-size: 3em; }
h3 { font-size: 2.25em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3125em; }
h6 { font-size: 1.125em; }

/* Paragraphs */
p {
  margin-bottom: $spacing-unit;
}

/* Blockquotes */
blockquote {
  border-left: .05em solid black;
  padding-left: 1em;
  font-size: 1em;
  margin-left: 0em;

  & > :last-child {
    margin-bottom: 0;
  }
}

/* Lists */
li * {
  //font-size: 1em;
  margin-bottom: $spacing-unit;
}
ul, ol {
}
li {
    > ul,
    > ol {
    }
}

/* Misc Inline */
sup {
  font-size: $small-font-size !important;
}

/**
 * Links
 */
a {
    &:visited {
    }
    &:hover {
    }
}

/**
 * Helper Classes
 */
.wrapper {
    //max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    //max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: black;
        }
    }
}
