---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Verdana, Helvetica, Arial, sans-serif;
$base-font-size:   1em;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     $base-font-size * $base-line-height; //1.5em

$text-color:       black;
$background-color: white;
$brand-color:      blue;

$header-font-family: "RobotoSlab",Sanchez, Glegoo, "Akzidenz-Grotesk BQ Extra Conde", serif;
$header-font-weight: 400;

// Breakpoints

$xlarge:    92 * $base-font-size;
$large:     70 * $base-font-size;
$medium:    52 * $base-font-size;
$small:     36 * $base-font-size;
$xsmall:    24 * $base-font-size;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "susy",
        "base",
        "minimal",
        "toc",
        "site/site",
        "document/document"
;

$susy: (
  columns: 24,
  gutters: 1/4,
  gutter-position: split,
  container: 100%,
);
