.doc-toc {
  font-size: 100%;
  border: .1em solid black;
  padding: 0em 1em $spacing-unit .5em;
  
  h4 {
    line-height: 1.5;
    margin: 0em;
    border-bottom: .1em solid black;
    position: fixed;
    background-color: white;
    width: span(8 of 24);
    box-shadow: 0em ($spacing-unit / 4) 0em 0em rgb(255, 255, 255); 
  }
  
  nav {
    margin-top: $spacing-unit * 2.25;
    padding: 0em ($spacing-unit / 2);
  }
  
  ul {
    list-style: none;
    padding: 0em ($spacing-unit / 2);
    
    & > li {
      margin: ($spacing-unit / 2) 0em;
    }
  }
  
  li {
    color: blue;
  }
  
  a:visited {
    color: blue;
  }
}
.active {
  color: red !important;
  text-decoration: none;
  font-style: italic;
}

.doc-toc .toggle {
  @extend %fixed-toggle;
  top: $spacing-unit * 1.4;
  right: 0px;
  line-height: 1;
}
.doc-toc .toggleable > * {
  @extend %fixed-toggle-content;
}