@include media-query($large) {
  .doc-header {
    @include span(14 of 24);
  }
  .doc-body {
    @include span(14 of 24);
  }
  .doc-toc {
    @include span(8 of 24);
    max-width: 35em;
    position: fixed;
    top: 5%;
    right: 2.5%;
    overflow-y: scroll;
    height: 90%;
  }
  .doc-footnotes {
    clear: left;
    float: left;
    width: span(8 of 24);
  }
}