.doc-section {
  max-width: 40em;
  margin: 0em auto ($spacing-unit / 2) auto;
  padding-bottom: ($spacing-unit / 2);
  border-top: .1em solid black;
  border-bottom: .2em solid black;
}
.doc-article {
  margin-bottom: ($spacing-unit / 2);
  padding-bottom: ($spacing-unit / 2);
  border-top: .1em solid black;
  border-bottom: .1em solid black;
}

.doc-section h1, .doc-section h2, .page-ref {
  text-align: center;
}

.doc-article:last-of-type {
  border-bottom: 0em solid transparent;
}